<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">All Transactions</h1>
</div>

<% if @transactions.any? %>
  <% limit = 3%>

  <%= render 'shared/card', title: "Top #{limit} stops" do %>
    <% TransactionsHelper::top_stops(@transactions, limit=limit).each do |transaction| %>
      <h4 class="h4"><%= transaction.location.titleize %></h4>
      <%= transaction.count %> times
    <% end %>
  <% end %>

  <%= render 'shared/card', title: 'Mornings' do %>
    <%= render 'table', transactions: @transactions.morning %>
  <% end %>
  
  <%= render 'shared/card', title: 'Afternoons' do %>
    <%= render 'table', transactions: @transactions.afternoon %>
  <% end %>

  <%= render 'shared/card', title: 'All' do %>
    <%= render 'table', transactions: @transactions %>
  <% end %>
<% else %>
  <div class="alert alert-primary" role="alert">
    No transactions :(
  </div>
<% end %>