<h1>New Transaction</h1>

<div class="row">
  <div class="col-xl-3 col-md-8 mb-4">
    <%= form_with model: @transaction  do |f| %>
      <%= render 'shared/card' do %>
        <%= f.label :date %>
        <%= f.text_field :date, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :transaction_number %>
        <%= f.text_field :transaction_number, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :transit_agency %>
        <%= f.text_field :transit_agency, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :transaction_type %>
        <%= f.text_field :transaction_type, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :service_class %>
        <%= f.text_field :service_class, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :discount %>
        <%= f.text_field :discount, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :amount %>
        <%= f.text_field :amount, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.label :balance %>
        <%= f.text_field :balance, class: 'form-control bg-light border-0' %>
        <br>
        <%= f.submit "Create", class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xl-3 col-md-4 mb-4">
    <%= render 'shared/csv_upload' %>
  </div>
</div>